@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    font-family: 'Barlow';  
   
}

h1{
    margin-top: 1em;
    
}

span{
    color: #3443bd;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 20px;
    width: 400px;
    /* border: 2px solid green; */
    margin:5em 1em 1em 1em;
}

.card{
    position: relative;
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageScale{
    display: flex;
    justify-content: center;
    position: relative;
    /* border: 2px solid green; */
    height: 300px;
    width: 350px;
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

.title{
    font-size: 1.5rem;
    position: absolute;
    top: -60px;
}

.imageScale img{
    width: 100%;
    display: block;
    object-fit: cover;
    transition: transform .3s ease;
    /* border: 2px solid green; */
}

.imageScale:hover img{
    transform: scale(1.5);
}

.card > .socials{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
    height: 50px;
    width: 350px;
    /* border: 2px solid green; */
   
}

i{
    color: black;
}


