*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
flex-direction:column;
align-items: center;
height: 100vh;    
}

.card{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card > a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    text-align: center;
}

.card > .socials{
    margin-top: 2em;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fab{
    width: 100%;
    
}

.card + img{
    width: 200px;
    height: 200px;
}
